@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

:-moz-any-link:focus { outline: none; }

html {
	height:100%;
	background-color: #fff;
}

html, body, div, span, img, applet, embed, canvas, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, samp, small, strike, strong, sub, sup, tt, var, b, u, i, s, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent none repeat scroll 0 0;
	border:0 none;
	font-size:100%;
	margin:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:0;
}

body, button, input, textarea {
	-x-system-font:none;
  font-family: 'Open Sans', sans-serif;
	font-size:12px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}

a, #disqus_thread a
{
	color: #002596;
	text-decoration: none;
}

a:hover, #disqus_thread a:hover
{
	text-decoration: underline;
}

.selectable { cursor: pointer; }
.right { float: right; }
.left { float: left; }
.clear { clear: both; }

.diag1 {
  width: 852px;
  height: 32px;
  background-color: #D8F4FE;
  margin-left: 17px;
  -webkit-transform: skewX(-25deg);
  -moz-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  -o-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.diag1 > .diag2 {
 -webkit-transform: skewX(25deg);
 -moz-transform: skewX(25deg);
 -ms-transform: skewX(25deg);
 -o-transform: skewX(25deg);
 transform: skewX(25deg);
}

#wrap
{
	padding: 0px 0px 25px 0px;
	position: relative;
}

.container
{
	margin-left: 25px;
}

#header
{
	width: 877px;
	background-color: #c4c0c2;
}

#header .container
{
	background: url("/static/bg2.svg");
}

#header .i
{
	background: url("/static/bg1.svg");
	padding-left: 20px;
	padding-bottom: 19px;
	padding-top: 50px;
	width: 733px;
}

#header .logo
{
  font-size: 2em;
  font-weight: 300;
  color: #fff;
}

#menu
{
	height: 107px;
}

#menu .g
{
	padding-left: 20px;
	padding-top: 47px;
	padding-bottom: 31px;
  font-size: 2em;
  font-weight: 300;
  color: #00BBEC;
}

#menu .g a {
  color: #222;
}

#content .container
{
	padding-left: 20px;
	width: 733px;
}

#footer
{
	margin-top: 38px;
}

#footer .container
{
	padding-left: 20px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.4em;
	color: #000;
}

.about {
  margin-top: 33px;
}

.about p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
}

.row1 .container
{
	padding-top: 33px;
	padding-left: 20px;	
}

.pagin a
{
	margin-right: 10px;	
}

.blog .entry
{
	margin-top: 33px;
	padding-bottom: 5px;
}

.blog .entry h1
{
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: -0.1;
	line-height: 1.4em;
}

.blog .entry a, .pagin a
{
	color: #222;
}

.blog .entry a:hover, .pagin a:hover
{
	color: #002596;
}

.blog .entry .body a
{
	color: #002596;
	text-decoration: none;
}

.blog .entry .body a:hover
{
	text-decoration: underline;
}

.blog .entry .date, .blog .entry .meta
{
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.4em;
	color: #666;
	height: 20px;
}

.blog .entry .meta
{
	margin-top: 5px;
}

.blog .entry .meta .left
{
	padding-top: 1px;
}

.blog .entry .meta .right a:hover
{
	background-color: #fff;
	text-decoration: none;
}

.blog .entry .meta .right, .blog .entry .meta .right strong
{
	font-size: 11px;
}

.blog .entry .body
{
	padding-top: 10px;
	padding-bottom: 10px;	
}

.blog .entry .body p
{
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.5em;
	padding: 3px 0px 5px 0px;
  font-family: Helvetica, Arial, sans-serif;
}

.blog .e-full
{
	margin-top: 23px;
	padding-bottom: 0px;
}

.blog .retweet
{
	margin-left: 5px;	
}

#disqus1
{
	border-top: 1px solid #ddd;
	padding-top: 17px;
	margin-top: 18px;
}