{% block extra_class %}home{% end %}

{% extends "base.html" %}

{% block content %}

{% block above_content %}
<div class="double-col-no-gutter-grid intro">
	<div class="col cover"></div>
	<div class="col headline">
		<h1>UPDATES EN GESCHRIFTEN</h1>
		<a href="#posts">
			<p>authentiek geschriften that will warm you up inside&mdash; todo: learn dutch.</p>
		</a>
	</div>
</div>
{% end %}

<div class="single-col-grid content" id="posts">

	{% block above_body %}{% end %}

	<div class="col">

		{% for entry in entries %}
		<div class="centered entry" id="e-{{ entry.key().name() }}">

			<div class="title">
				<h1><a href="/blog/{{ entry.key().name() }}">{{ escape(entry.title) }}</a></h1>
			</div>

			<div class="info">
				{{ locale.format_date(entry.published, full_format=True, shorter=True) }}
				{% if entry.tags %}
					&mdash; {{ locale.list(['<a href="/tag/%(tag)s">%(escaped_tag)s</a>' % {"tag": tag, "escaped_tag": escape(tag)} for tag in sorted(entry.tags)]) }}{% end %}
					{% if current_user %} &mdash; <a href="/edit/{{ entry.key().name() }}">Edit</a> - <a class="delete_entry" href="/delete/{{ entry.key().name() }}">Delete</a>
				{% end %}
			</div>

			<div class="body">{{ entry.body_html }}</div>

			{% if show_comments %}
			<div class="discussion">
				<div id="disqus_thread"></div>
			</div>
			{% end %}

		</div>
		{% end %}

	</div>

{% block below_content %}
	{% if int(page) > 1 or more %}
		{% if int(page) > 1 %}
			<a href="/blog/{{ int(page)-1 }}">Newer</a>
		{% end %}
		{% if more %}
			<a href="/blog/{{ int(page)+1 }}">Older</a>
		{% end %}
	{% end %}
{% end %}

</div>

{% end %}

{% block bottom %}
	{% if len(entries) > 0 %}
		{% if  show_comments %}
			{% if handler.settings['debug'] %}
			<script type="text/javascript">
				var disqus_developer = true;
			</script>
			{% end %}
			<script src="//disqus.com/forums/onurgunduzcom/embed.js" type="text/javascript"></script>
		{% end %}
	{% end %}
{% end %}

{% block title %}blog{{ '/'+str(page) if int(page)!=1 else '' }} &mdash; {{ escape(handler.settings['title']) }}{% end %}
