{% extends "base.html" %}
{% block content %}
<div id="content">
	<div class="container">
	<div style="margin-top: 33px">
		<h1 style="padding-bottom: 20px">{{ _('Upload') }} / <a href="/media">{{ _('Media') }}</a></h1>
		<div>
		<form method="post" action="{{ form_url }}" enctype="multipart/form-data">
			<input type="file" name="file" />
			<div style="margin-top: 10px;">
			<input type="submit" value="{{ _('Upload') }}" /><a style="margin-left: .5em;" href="/media">{{ _('cancel') }}</a>
			</div>
		</form>
		</div>
	</div>
	</div>
</div>
{% end %}
