{% extends "base.html" %}
{% block content %}
<div class="single-col-grid content">
	<div class="col">

	{% if not key_name %}
	<h1>New entry</h1>
	{% else %}
	<h1>Editing <a href="/blog/{{ entry.key().name() }}">{{ escape(entry.title) }}</a></h1>
	{% end %}

	<style>
		.form1 table {
			width: 100%;
		}
		.form1 table input[type=text], .form1 table textarea {
			width: 80%;
		}
	</style>

	<div class="form1">
		<form id="new" method="post" action="{{ '/edit/' + escape(key_name) if key_name else "/new" }}" onsubmit="onSubmit();return false;">
		<table>
		       <tr>
		       	<th><label for="title">Title:</label></th>
		       	<td><input type="text" id="title" name="title" value="{{ escape(entry.title) if entry else "" }}" ></input></td>
		       </tr>
		       <tr></tr>
		       <tr>
		       	<th valign="top"><label for="body">Body:</label></th>
		       	<td><textarea name="body" id="body">{{ escape(entry.body) if entry else "" }}</textarea>
		       	<div><a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Syntax documentation</a></div>
		       	</td>
		       </tr>
		       <tr></tr>
		       <tr>
		       	<th valign="top"><label for="tags">Tags:</label></th>
		       	<td><input type="text" id="tags" name="tags" value="{{ escape(tags) if tags else "" }}" ></input>
		       	<div>(Comma separated)</div>
		       	</td>
		       </tr>
		       <tr>
	            <th></th>
	            <td>
	                <div>
	                    <input type="submit" value="{{ 'Save' if key_name else 'Publish' }}"/><a style="margin-left: .5em;" href="{{ "/blog/" + escape(key_name) if key_name else "/blog" }}">cancel</a>
	                </div>
	            </td>
	        </tr>
	    </table>
	    {{ xsrf_form_html() }}
		</form>
	</div>

	</div>
</div>

{% end %}
