{% extends "base.html" %}
{% block content %}
<div id="content" class="blog-new">
	<div class="container">
	
	{% if not key_name %}
	<h1>{{ _('New entry') }}</h1>
	{% else %}
	<h1>{{_('Editing')}} <a href="/blog/{{ entry.key().name() }}">{{ escape(entry.title) }}</a></h1>
	{% end %}
	
	<div class="form1">
		<form id="new" method="post" action="{{ '/edit/' + escape(key_name) if key_name else "/new" }}" onsubmit="onSubmit();return false;">
		<table>
		       <tr>
		       	<th><label for="title">{{ _('Title') }}:</label></th>
		       	<td><input type="text" id="title" name="title" value="{{ escape(entry.title) if entry else "" }}" ></input></td>
		       </tr>
		       <tr style="height: 3px"></tr>
		       <tr>
		       	<th valign="top"><label for="body">{{ _('Body') }}:</label></th>
		       	<td><textarea name="body" id="body">{{ escape(entry.body) if entry else "" }}</textarea>
		       	<div style="margin-top: 3px;"><a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">{{ _('Syntax documentation') }}</a></div>
		       	</td>
		       </tr>
		       <tr style="height: 3px"></tr>
		       <tr>
		       	<th valign="top"><label for="tags">{{ _('Tags') }}:</label></th>
		       	<td><input type="text" id="tags" name="tags" value="{{ escape(tags) if tags else "" }}" ></input>
		       	<div style="margin-top: 3px;">{{ _('(Comma separated)') }}</div>
		       	</td>
		       </tr>
		       <tr>
	            <th></th>
	            <td>
	                <div style="margin-top: 10px;">
	                    <input type="submit" value="{{ _('Save') if key_name else _('Publish') }}"/><a style="margin-left: .5em;" href="{{ "/blog/" + escape(key_name) if key_name else "/blog" }}">{{ _('cancel') }}</a>
	                </div>
	            </td>
	        </tr>
	    </table>
	    {{ xsrf_form_html() }}
		</form>
	</div>

	</div>
</div>

{% end %}
{% block bottom %}
<script type="text/javascript">
var form = document.getElementById('new');
form[0].select();
function onSubmit()
{
	var required = ['title', 'body'];
    for (var i = 0; i < required.length; i++) {
        if (!form[required[i]].value) {
            form[required[i]].select();
            return false;
        }
    }
    form.submit();
}
</script>
{% end %}